/* navbar style */
*{
    margin: 0 auto;
    padding: 0;
}

nav{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    /* background-color: #b63a3a; */
}

nav img{
    width: 100px;
    height: 35px;
}

nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

nav div a{
    text-decoration: none;
    color: #575757;
    font-family: 'Inter';
    font-size: 14px;
}

.common-btn{
    background-color: #1D4ED8;
    color: white;
    font-weight: bold;
    font-family: 'Inter';
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


/* Banner style */

#banner{
    margin-top: 15px;
    height: 100%;
    width: 100%;
    position: relative;
}

#banner img{
    width: 100%;
}

#overley{
    font-family: 'Inter';
    width: 100%;
    height: 99.5%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    background: linear-gradient(
    to right,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0)
    );
}

#overley div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12%;
}

#overley div h1{
    font-size: 63px;
    font-weight: bold;
    margin-bottom: 10px;
}
   


#overley-btn{
    height: 65px;
    width: 230px;
    font-family: 'Inter';
    font-size: 20px;
    margin-bottom: 13%;
}


/* Speaker Section Style */
#speakers-section{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    font-family: 'Inter';
}

#speakers{
    /* background-color: red; */
    display: grid;
    width: 80%;
   
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}



#speakers div{
    border-radius: 10px;
    border: 1px solid #E5E7EB;
}


#speakers div img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.speaker-interest{
    color:#2563eb;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 10px;
}

.speaker-name{
    margin-bottom: 5px;
    margin-left: 20px;
    font-weight: bold;
}

.speaker-company{
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: 11px;
    color: #575757;

}

/* Pricing Section Style */

#pricing-section{
    font-family: 'Inter';
    max-width: 1200px;
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

#pricing-header{
   display: flex;
    justify-content: center;  
    align-items: center;
    flex-direction: column; 
    margin-top: 80px;
    margin-bottom: 30px;
}

#pricing{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.card{
    border: 1px solid #E5E7EB;
    /* border: 1px solid red; */
    border-radius: 10px;
    padding: 20px;
    font-family: 'Inter';
    
}

.card {
    min-width: 0;      
    width: 100%;        
    box-sizing: border-box;
}


.card-body ul{
    margin: 0;
    padding-left: 20px;
}

.card-body ul li{
      margin: 10px 0;       
      font-size: 13px;
}

.card-body ul li::marker {
    color: #2563eb;       
}



.dollar{
    font-weight: bold;
    font-size: 40px;
}

.card-btn{
    margin-left: 10px;

    width: 93%;
    height: 45px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}


#btn1{
    color: #2563eb;
    border: 1px solid #2563eb;
    background-color: white;
    font-weight: bold;
}

#btn2{
    color: white;
    background-color: #2563eb;
    font-weight: bold;
}

#btn3{
    color: #0d1b2a;
    background-color: white;
    font-weight: bold;
    border: 1px solid #0d1b2a;

}


hr {
    border: none;           
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

#hr1{
    border: none;           
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
}

/* Footer Section Styles */

#footer{
    background-color: #0D1B2A;
    height: 200px;
    max-width: 1200px;
    font-family: 'Inter';
    color: #8B8B8B;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#footer-up{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#social a i{
    color: white;
    font-weight: bold;
}


#footer-down{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-right a{
    text-decoration: none;
    color: #8B8B8B;
    font-family: 'Inter';

}


#hr-foot{
    border: none;           
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
    width: 80%;
}
