/* navbar style */
*{
    margin: 0 auto;
    padding: 0;
}

nav{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    /* background-color: #b63a3a; */
}

nav img{
    width: 100px;
    height: 35px;
}

nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

nav div a{
    text-decoration: none;
    color: #575757;
    font-family: 'Inter';
    font-size: 14px;
}

.common-btn{
    background-color: #1D4ED8;
    color: white;
    font-weight: bold;
    font-family: 'Inter';
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}